<h3>Like 一覧</h3>
<hr>
<% @posts.each do |post| %>
  <div>
    <div>
      <%= link_to post.user.email, [post.user] %>
    </div>
    <div>
      <%= link_to [post] do %>
        <%= image_tag post.image %>
      <% end %>
    </div>
    <div>
      <%= post.caption %>
  </div>
<% end %>