ようこそmotomotto
<div>
  <%= link_to  "logout", destroy_user_session_path, method: :delete %>
</div>

<div>
  <%= link_to  "写真投稿", [:new, :post] %>
</div>

<% User.all.each do |user| %>
  <div>
    <%= link_to user.email, [user]%>
  </div>
<% end %>