/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";


.container-login {
    @extend .container-fluid;
    max-width: 576px;
    padding: 2rem;
  }
  
  
  .alert-notice {
    @extend .alert-info;
  }
  
  .alert-alert {
    @extend .alert-danger;
  }



  .c{
    width:80%;
    max-width: 100%;
    height: auto;
    }

  .example {/*親div*/
    position: relative;/*相対配置*/
    }
  
  .example p {
    position: absolute;/*絶対配置*/
    color: rgba(43, 41, 41, 0.7);/*文字は白に*/
    font-weight: bold; /*太字に*/
  font-size: 2em;/*サイズ2倍*/
  font-family :Quicksand, sans-serif;/*Google Font*/
    top: 10%;
    left: 10%;
    margin:10;
   padding:10;
    }
  
  .example img {
    width: 100%;
    }